
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("table.png");
    text-align: center;
    background-size: cover;
    color: white;
    font-weight: bold;
    margin-top: 70px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    background: goldenrod;
    color: #016f32;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
}

